.btn-group .button {
  background-color: hsl(0, 0%, 100%);
  color: #000000;
  border: #000000;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-group .button:hover {
  background-color: hsl(0, 100%, 40%);
}
.peliculasContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.peliculaCard img {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}

.peliculas-busqueda {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Barra_container {
  width: 50px;
  height: 10px;
  background-color: #e0e0e0;
}

.Barra_popularidad {
  height: 100%;
  background-color: #70add6;
}
